body {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: calibri;

}
header {
	position: relative;
}

main {
    width: 100%;

}

.posicRelatorio { 
    padding-top: 5px;
    position: relative;
    margin: 20px auto 0;
    width: 800px;
    height: 1200px;
    background-color: rgb(98, 89, 83);
    
}
.linha{
    text-decoration: underline;
}
.resultados {
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    font-weight: 300;
    display: block;
    width: 500px;
    height: 68%;
    background: linear-gradient(rgb(70, 64, 49), rgb(31, 29, 24));
    border-radius: 20px;
    margin-top: 4%;
}

.tituloPesq {
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.tituloRel {
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
    padding-top: 8px;
}

input {
    margin-top: 60px;

}

hr {
    margin-bottom: 30px;
}

#inData {
    border: none;
    outline:none;
    text-decoration: underline;
    background-color: rgba(70, 64, 49, 0);
    width: 40px;
    color: rgb(137, 135, 135);
    border-radius: 5px;
}

pre {
    font-size: 21px;
}

@media screen and (max-width:480px) {

    .caixa,
    .banner {
        width: auto;
    }

    .logo,
    header {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .titulo-secundario {
        font-size: 1.5em;
    }

    header {
        width: 256%;
        height: 100%;
    }

    .header-ancora {
        display: flex;
        justify-content: center;
    }

    .servicos {
        width: 256%;
    }

    footer {
        width: 100%;
    }

    .fundo-localizacao {
        width: 256%;
    }

    .ancor-menu {
        font-size: 32px;
    }

    .tamanho-logo {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .resultados {
        margin: 0 30px;
        width: 30%;
    }

    .busca {
        margin: 0 30px;
        width: 30%;
    }

    .logo{
        width: 250px;
    }
    .header-ancora{
        width: 50px;
        margin: 0 0;
        padding: 0 0;
    }
    nav a{
        margin: 0 0;
        width: 2px;
        padding: 0 0;
        border: none;
    }
    
}