.servicos {
    margin: 0 auto;
    position: relative;
    background-color: rgb(144, 189, 174);
    width: 80%;
}

.lav-externa {
    position: absolute;
    margin-top: 25px;
    width: 20%;
    left: 50px;
}

.tex_Lav_ext {
    position: absolute;
    margin-top: 25px;
    width: 20%;
    left: 350px;
}


.lav-interna {
    position: absolute;
    margin-top: 300px;
    width: 20%;
    left: 50px;
}

.tex_Lav_int {
    position: absolute;
    margin-top: 190px;
    width: 20%;
    left: 350px;

}

.lav-completa {
    position: absolute;
    margin-top: 575px;
    width: 20%;
    left: 350px;
}

.tex_Lav_com {
    position: relative;
    margin-left: 45%;
    top: 70%;
    color: white;
    font-size: 20px;
}

.lav-Ext_c_Pol {
    position: relative;
    width: 20%;
    margin-left: 65%;
    top: 20%;
}

.tex_LavExt_c_Pol {
    position: relative;
    margin-left: 65%;
    top: 70%;
    color: white;
    font-size: 20px;
    text-align: center;
}

.lav-com_c_Pol {
    position: relative;
    width: 20%;
    margin-left: 85%;
    top: 20%;
}

.tex_LavExt_compl_c_Pol {
    position: relative;
    margin-left: 85%;
    top: 70%;
    color: white;
    font-size: 20px;
    text-align: center;
}

.titulo-servicos {
    text-align: center;
    background-color: grey;
    padding: 2%;
    font-size: 32px;
    font-weight: bold;

}