body {
	font-family: calibri;
}

html {
	scroll-behavior: smooth;
}


.carrosel {
	width: 1000px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
	margin: 0 auto;
	overflow: hidden;
	height: 667px;
}

.carrosel ul {
	width: 3000px;
	display: flex;
	height: auto;
}

.carrosel li {
	position: relative;
	animation: slide 15s infinite ease-out;
}

@keyframes slide {

	0% {
		left: 0px
	}

	20% {
		left: 0px
	}

	30% {
		left: -1000px
	}

	50% {
		left: -1000px;
	}

	60% {
		left: -2000px
	}

	90% {
		left: -2000px
	}

	100% {
		left: 0px
	}

}

.fundo-carrosel {
	background: url(../imagens-home/bg-home.jpg);
}

.localizacao {
	margin-top: -3.5px;
	width: 940px;
	margin: 0 auto;
}

.fundo-localizacao {
	width: 100%;
	background: url(../imagens-home/bg.jpg);
	margin-top: -3px;
}

.servicos {
	top: -3.5px;
	position: relative;
	width: 100%;
	height: 300px;
	background: url("../imagens-geral/bg.jpg");
	border-top: 0.1px solid rgba(255, 255, 255, 0.253);
}

.lav-externa {
	position: absolute;
	width: 150px;
	margin-left: 5%;
	top: 20%;
}

.tex_Lav_ext {
	position: absolute;
	margin-left: 4.6%;
	top: 70%;
	color: white;
	font-size: 20px;
}


.lav-interna {
	position: absolute;
	width: 150px;
	margin-left: 25%;
	top: 20%;
}

.tex_Lav_int {
	position: absolute;
	margin-left: 24.75%;
	top: 70%;


}

.lav-completa {
	position: absolute;
	width: 150px;
	margin-left: 45%;
	top: 20%;
}

.tex_Lav_com {
	position: absolute;
	margin-left: 44.2%;
	top: 70%;

}

.lav-Ext_c_Pol {
	position: absolute;
	width: 150px;
	margin-left: 65%;
	top: 20%;
}

.tex_LavExt_c_Pol {
	position: absolute;
	margin-left: 64.6%;
	top: 70%;

	text-align: center;
}

.lav-com_c_Pol {
	position: absolute;
	width: 150px;
	margin-left: 85%;
	top: 20%;
}

.tex_LavExt_compl_c_Pol {
	position: absolute;
	margin-left: 84.3%;
	top: 70%;
	text-align: center;
}

iframe {
	margin: 55px 0;
	box-shadow: 5px 5px 25px #22222252;
}

:target {
	scroll-margin-top: 7.5em;
}

body {
	font-family: 'calibri';
}

.ancor-servicos {
	text-decoration: none;
	color: white;
	font-size: 24px;
}

.ancor-servicos:hover {
	transition: 0.5s;
	border-radius: 5px;
	color: #ddff00;
	background-color: rgba(255, 255, 0, 0.041);
}


@media screen and (max-width:480px) {

	.caixa,
	.banner {
		width: auto;
	}

	.logo,
	header {
		width: 100%;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.titulo-secundario {
		font-size: 1.5em;
	}

	header {
		width: 256%;
		height: 100%;
	}

	.header-ancora {
		display: flex;
		justify-content: center;
	}

	.servicos {
		width: 256%;
	}

	footer {
		width: 256%;
	}

	.fundo-localizacao {
		width: 256%;
		text-align: center;
	}

	.ancor-menu {
		font-size: 32px;
	}

	.tamanho-logo {
		margin-left: 0;
		margin-bottom: 20px;
	}

	

	.fundo-carrosel {
		width: 256%;
	}


	.carrosel {
		width: 950px;
		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
		margin: 0 auto;
		overflow: hidden;
		height: 670px;
		padding: 180px 0;
	}

	.carrosel ul {
		width: 3000px;
		display: flex;
		height: auto;
	}

	header{
		height: 240px;
	}
}