main {

    background-color: rgba(173, 173, 173, 0.664);
}

.servicos {
    padding-bottom: 15px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 1800px;
    box-shadow: 5px 50px 50px 10px rgba(53, 53, 53, 0.863);
    border-left: 1px solid rgba(255, 255, 255, 0.514);
    border-right: 1px solid rgba(255, 255, 255, 0.514); ;

}

.titulo {
    font-size: 45px;
}

body {
    color: white;
    font-family: calibri;
}

strong {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.servicos-secctons-left {
    width: 100%;
    height: 19%;
    background-color: black;
}

.servicos-secctons-rigth {
    width: 100%;
    height: 19%;
    background-color: grey;
}

.img-servicos-left {
    height: 75%;
    float: left;
    margin-top: 3.7%;
    margin-left: 2%;
    margin-right: 15px;
}

.img-servicos-rigth {
    height: 75%;
    float: right;
    margin-top: 3.7%;
    margin-right: 2%;
    margin-left: 15px;
}

.text-servicos {
    font-size: 29px;
    text-align: justify;
    margin: 0% 2%;
    padding-top: 5%;
}

.titulo-servicos-prestados {
    font-size: 35px;
    margin-bottom: 2%;
    font-weight: bold;

}

.titulo-servicos {
    text-align: center;
    background-color: grey;
    padding: 2%;
    font-size: 32px;
    font-weight: bold;
    height: 2.5%;
}


@media screen and (max-width:480px) {

    .caixa,
    .banner {
        width: auto;
    }

    .logo,
    header {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .titulo-secundario {
        font-size: 1.5em;
    }

    header {
        width: 256%;
        height: 100%;
    }

    .header-ancora {
        display: flex;
        justify-content: center;
    }

    .servicos {
        width: 256%;
    }

    footer {
        width: 256%;

    }

    .fundo-localizacao {
        width: 256%;
    }

    .ancor-menu {
        font-size: 32px;
    }

    .tamanho-logo {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .lav-externa,
    .lav-interna,
    .lav-com_c_Pol {
        margin-top: 0;
        width: 20%;
    }

    .tex_LavExt_c_Pol {
        padding: 50px 0;
        margin-top: 20px;
    }

    .lav-completa {
        margin: 0 20px;
        width: 20%;
    }

    .lav-Ext_c_Pol {
        margin-top: 0;
        width: 20%;
        padding-top: 35px;
    }

    .tex_LavExt_c_Pol,
    .tex_LavExt_compl_c_Pol,
    .tex_Lav_com,
    .tex_Lav_int,
    .tex_Lav_ext {
        font-size: 31px;
    }

    .lav-interna {
        margin-top: 50px;

    }
}