
body {
	
	background-color: rgb(66, 55, 55);
	font-family: calibri;
	
}

header {
	position: relative;
}

table {
	margin-left: 7%;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 85%;
	background-color: rgb(255, 255, 255);
	position: relative;
}

th,
td {
	width: 6px;
	height: 55px;
	border: 0.5px solid rgb(68, 69, 69);
	max-width: 5.5px;
	margin: 0;
}

.thead {
	background-color: rgb(30, 29, 36);
	color: rgb(223, 217, 217);
	border: 0ex;
}
.vejaHora{
	position: sticky;
	top: 0;
	width: auto;
	background-color: rgb(30, 29, 36);
	list-style-type: none;
}

th {
	font-size: 12px;
	max-width: 6px;
}

.cor2 {
	background-color: rgb(76, 136, 169);
}

.cor {
	background-color: rgb(178, 100, 12);
	color: rgb(223, 217, 217);
	font: bold;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td div {
	width: 100%;
	font-size: 18px;
}

td div:hover {
	position: absolute;
	padding: 5px;
	padding-top: 10px;
	width: 100px;
	height: 45px;
	font-size: 10px;
	box-shadow: -4px 4px 10px black;
	white-space: initial;
	border-radius: 7px;
	transform: scale(2, 2);
	background-color: rgb(81, 48, 11);
}
.tamanho{
	font-size: 20px;
}
.table{ 
	background-color: rgb(66, 55, 55);;
}