/* Seletores do corpo --------------------------------------*/

main {
	background-color: rgb(230, 199, 199);
}

.conteudo-produtos{
	width: 940px;
	margin: 0 auto;
}
.produtos {
	padding: 50px 0;
	height: 440px;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	height: 150px;
}
.produtos li:hover {
	border-color: #777777;
}
.produtos li:hover h2 {
	font-size: 32px;
}
.produtos li:active {
	border-color: #AAAAAA;
	border-width: 1px;
}
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}
.table{
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
	margin: -3px -3px;
}
table{
	position: relative;
	width: 100%;
}
.dias-funcionamento{
	font-size: 22px;
	font-weight: bold;
	padding-top: 35px;
}
